@inject IAuthorizationService authService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.Ui</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    
   
   
</head>
<body>
    <header>
       <h3 class="title has-text-centered ">Admin Panel</h3>
        <a asp-page="/Index">Home</a>
     </header>
     <div class="container">
    <div class="columns">
    <div class="column is-3">
        <div class="menu">
                    @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                    {
                        
                    <p class="menu-label">Store Menu</p>
            <ul class="menu-list">
                <li><a asp-page="/Admin/Index">Products</a></li>
                <li><a asp-page="/Admin/Orders">Orders</a></li>
                <li><a asp-page="/Admin/Stock">Stock</a></li>
                 <li><a asp-page="/Admin/AddImage">Add Image</a></li>
            </ul>
                    }
            
            @if((await authService.AuthorizeAsync(User,"Admin")).Succeeded)
            {
            <p class="menu-label">Admin menu</p>
            <ul class="menu-list">
                <li><a asp-page="/Admin/ConfigureUsers">Configure Users</a></li>
            </ul>
                        
             }
                        
            <p class="menu-label"></p>
            <ul class="menu-list">
                <li><a asp-page="/Index">Back to Main</a></li>
            </ul>
        </div>
    </div>
    <div class="column is-9">
            @RenderBody()
    </div>
     </div>   
   </div>

   

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Scans", required: false)
</body>
</html>