@page
@model Shop.Ui.Pages.Admin.IndexModel
@{
}
@section scripts
    {
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    
    <script src="~/js/admin/main.js"></script>

}
<div id="app" class="container">
    <div>
        <div v-if="!editing">
            <button class="button" @@click="newProduct">Add New Product</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Value</th>
                   
                </tr>
                <tr v-for="(product,index) in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.value}}</td>
                    <td><a @@click="editProduct(product.id,index)">Edit</a></td>
                    <td><a @@click="deleteProduct(product.id,index)">Remove</a></td>
                </tr>
            </table>
        </div>
        <div v-else>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="productModel.name" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" v-model="productModel.description" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input v-model="productModel.value" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                   
                </div>
            </div>
            <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Create Product</button>
            <button class="button is-warning" @@click="updateProduct" v-else>Update Product</button>
            <button class="button is-warning" @@click="cancel">Cancel</button>
        </div>
    </div>
</div>

                       


